 /* Global selectors */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    font-family:sans-serif;
    size: 20px;
    color: gray;
    background-color: black;
}
* p{
    display: block;
    line-height: 1.5;
    text-indent: 50px;
    text-align: left;
    font-size: 20px;
    padding: 5px 10% 5px;
    
}
/*Phone Screen*/
/* normal selectors */
hr{
    height: 1PX;
    background-color: gray;
    border: none;
}
header{
    padding-top: 10px;
    padding-bottom: 10px;
}
body{
    border: 1px solid black;
}
section{
    height:120vh ;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1PX solid BLACK;
}
div{
    display: block;
    width: 40%;
    justify-content: space-between;
}
nav{
    align-self: center;
    justify-content: center;
}
/* selectors */
.nav_tab{
    background-color: black; 
    height: 30%;
}
.home_button, .projects_button, .contact_button, .documentation_button{
    border-radius: 7.5px;
    border-width: 1px;  
    border-color: blueviolet;
    padding: 5px 10px 5px;
    height: 90%;
    font-weight: bolder;
}
.about{
    width: 50%;
    height: 90%;
}
.about_button{
    border-radius: 15px;
    border-width: 1px;
    background-color: blueviolet;
    border-color: blueviolet;
    color: white;
    padding: 5px 10px 5px;
    width: 40%;
    height: 5%;
    font-weight: bolder;
}
.wrapper{
    display: block;
    width: 99%;
    justify-content: space-between;
}
.greeting{
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    border-width: 1px;
    border-color: gray;
}
p.bio{
    padding-top: 10px;
    text-align: left;
}
p.hello{
    margin-top: 15px;
}
.was{
    text-decoration: none; /*disable line*/
}
.text_box > .Jubibani{
    font-size: 3rem;
    padding-top: 10 px;
    padding-bottom: 25px;
}
div.text_box{
    display: contents;
    width: 40%;
    justify-content: space-between;
}
div.project_box{
    display: grid;
    width: 40%;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: stretch;
}
section > .my_description{
    display: block;
}
.image{
    margin-top: 70px;
    width: 85%;
    height: 45%;
    border-radius: 45%;
}

.github_logo, .linkedin_logo{
    margin: 1% 5%;
    width: 11.5%;
    height: 10%;
    border-radius: 50%;
}

/*For Desktop Screen*/
@media only screen and (min-width:1000) {
    /* Global selectors */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        justify-content: center;
        text-align: center;
        font-family:sans-serif;
        size: 20px;
        color: white;
        background-color: rgb(21, 21, 26);
    }

    * p{
        display: block;
        
    }
    /* normal selectors */
    body{
        border: 1px solid black;
    }
    section{
        height:100vh ;
        display: flex;
        justify-content: center;
        text-align: center;
        border: 1PX solid BLACK;
    }
    div{
        display: block;
        width: 10%;
        justify-content: space-between;
    }
    nav{
        align-self: center;
        justify-content: center;
    }
    /* selectors */
    .nav_tab{
        background-color: black;
    }
    .wrapper{
        width: 1000px;
    }
    
    p.bio{
        padding-top: 10px;
    }
    p.hello{
        margin-top: 50px;
    }
    .text_box > .Jubibani{
        font-size: 3rem;
        padding-bottom: 50px;;
    }
    div.text_box{
        display: contents;
        width: 40%;
        justify-content: space-between;
    }
    div.project_box{
        display: grid;
        width: 40%;
        justify-content: space-evenly;
        align-content: stretch;
        align-items: stretch;
    }
    section > .my_description{
        display: block;
    }
    .image{
        margin-top: 70px;
        width: 10%;
        height: 55%;
        border-radius: 45%;
    }

    .github_logo, .linkedin_logo{
        margin: 1% 5%;
        width: 11.5%;
        height: 10%;
        border-radius: 50%;
    }
}